/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 de jun de 2019, 22:57:42
    Author     : borge
*/


.progress-bar {
    -fx-background-color:transparent;
     -fx-accent: #1e90ff;
     
    -fx-pref-height:7;
    
}

.progress-bar > .track{
    -fx-text-box-border:foresgreen;
    -fx-control-inner-background:transparent;
    -fx-pref-height:7;
}

